#docs
/docs/html/
/docs/latex/

#clion IDE stuff
/.idea/
/venv/

#Build dirs
/build/
/cmake-build-*/
/vcpkg_installed/

#Build helpers
build.bat

#Visual studio stuff
/.vs
/out/build/x64-Debug
/CMakeFiles
/CMakeCache.txt
*.user
.vscode
*.autosave
