#docs
/docs/html/
/docs/latex/

#clion IDE stuff
/.idea/
/venv/

#Build dirs
/build/
/cmake-build-*/
/vcpkg_installed/

#Build helpers
build.bat

#Visual studio stuff
/.vs
/out/build/x64-Debug
/CMakeFiles
/CMakeCache.txt
*.user
.vscode
*.autosave

#Visual Studio profiler
*.psess
*.vsp
*.vspx

#Visual Studio Indexes
*.vsidx
read.lock

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
_internal
*.spec
build
dist



#python
*.pyc
*.pyrc
.qtcreator
__pycache__

/dependencies/zlib/zconf.h.included
/dependencies/zlib/zconf.h
config.ini
data/atlas.db
/data
