[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "dependencies/sqlite_modern_cpp"]
	path = dependencies/sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp.git
[submodule "dependencies/sqlite3"]
	path = dependencies/sqlite3
	url = https://github.com/sqlite/sqlite.git
